.header {
  height: 500px;
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 100px;
  height: 200px;
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}

.footer-col {
  font-size: 20px;
  display: flex;
  align-items: center;
  width: calc(100% / 3);
  color: white;
}

.footer-col:nth-child(2) {
  justify-content: center;
}

.footer-col:last-child {
  justify-content: flex-end;
}